.add-card-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    animation-name: fadeIn;
    transition: all 0.2s ease-in-out;

    &.active {
        visibility: visible;
        opacity: 1;
    }
      
    &__content {
        @include flexible(center, flex-start, column, nowrap);
        max-width: 500px;
        background-color: #FFFFFF;
        margin: auto;
        padding: 1rem;
        border: 1px solid $colorGray;
        border-radius: 10px;
        width: 90%;
    }
    
    &__close-btn {
        display: block;
        align-self: flex-end;
        color: $colorGray;
        font-size: 2rem;
        font-weight: bold;

        &:hover,
        &:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        }
    }

    &__input-container {
        @include flexible(flex-start, flex-start, row-reverse, nowrap);
    }

    &__title-input {
        width: 100%;
        font-size: 1.2rem;
        font-family: 'SF Pro Displkay Medium';
        color: $colorGrayDark;
        border: none;
        outline: none;

        &::placeholder {
            color: $colorGray;
        }
    }

    &__description-input {
        width: 100%;
        padding: 5px;
        margin-top: 10px;

        font-size: 1rem;
        font-family: 'SF Pro Displkay Regular';
        color: $colorGrayDark;
        border: 1px solid $colorGray;
        border-radius: 5px;
        outline: none;
        resize: vertical;

        &::placeholder {
            color: $colorGray;
        }
    }

    &__save-btn {
       @include btn(30%, 5px, $colorGreen, #b4dfd0);
       margin-top: 10px;
    }
}
