.board{
    &__to-do{
        width: 100%;
        max-width: 300px;
        min-width: 215px;
        &-title{
            @include label(1rem, $colorGrayLight, .7em);
            margin-right: 1em;
        }
        &-counter{
            @extend .board__to-do-title;
            width: max-content;
            margin-right: auto;
            text-align: center;
        }
    }
}
