html {
    font-family: 'SF Pro Displkay Regular';
}
body {
    display: flex;
    justify-content: center;
}
.wrap {
    width: 100%;
    height: 100vh;
    max-width: 2048px;
    padding: 1rem;
}
.error-message {
    opacity: 0;
    visibility: hidden;
    font-size: 0.7rem;
    color: #eb7b7b;
}
.error-message.active {
    opacity: 1;
    visibility: visible;
}
