// Colors

$grey: #686877;
$dark-grey: #212121;
$light-grey: #d1d4d6;

$lavender: #e7d5f3;
$rose: #FFDCE0;
$green: #CBDFD8;

// Adaptiveness

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

